{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="fs-1 fw-bold">Información de la empresa</h5>
          <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
