{% extends 'base.html' %}
{% load unicorn %}
{% block contenido %}
  <div class="row g-3">
    <div class="col-lg-4 col-12">
      <div class="card">
        <div class="card-body text-center">
          <img src="https://robohash.org/empleado/{{ empleado.id }}" alt="hash" class="img-thumbnail rounded-circle" style="width: 200px;" />
          <h5 class="fs-1 fw-bold">{{ empleado.get_full_name|default:empleado.username }}</h5>
          <p class="text-muted">@{{ empleado.username }}</p>
          <table class="table">
            <thead>
              <tr>
                <th>Puesto</th>
                <th>Sucursal</th>
                <th>Activo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ empleado.puesto }}</td>
                <td>{{ empleado.sucursal.nombre }}</td>
                <td>{{ empleado.activo|yesno:'Sí,No' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-12">
      <div class="card">
        <div class="card-body row g-3">
          <div class="col-lg-4 col-12">
            <div class="card text-bg-primary text-center">
              <div class="card-body">
                <h5 class="">Empleados registrados</h5>
                <p class="display-2">{{ total_empleados }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="card text-bg-warning text-center">
              <div class="card-body">
                <h5 class="">Incidencias Pendientes</h5>
                <p class="display-2">{{ total_incidencias }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="card text-bg-secondary text-center">
              <div class="card-body">
                <h5 class="">Empleados activos</h5>
                <p class="display-2">24</p>
              </div>
            </div>
          </div>
          <h3 class="mt-4 fs-2">Ultimas incidencias</h3>
          <div class="col-12 table-responsive text-center">
            <table class="table">
              <thead>
                <tr>
                  <th>Empleado</th>
                  <th>Incidencia</th>
                  <th>Nota</th>
                  <th>Fecha</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for incidencia in incidencias %}
                  <tr>
                    <td>{{ incidencia.usuario.get_full_name|default:incidencia.usuario.username }}</td>
                    <td>{{ incidencia.incidencia.nombre }}</td>
                    <td>{{ incidencia.nota }}</td>
                    <td>{{ incidencia.fecha_incidencia }}</td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Acciones</button>
                        <ul class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" href="#">Ver</a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Editar</a>
                          </li>
                          <!-- Divicion -->
                          <li>
                            <hr class="dropdown-divider" />
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">Aceptar</a>
                            <a class="dropdown-item" href="#">Rechazar</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="5" class="text-center">No hay incidencias en proceso.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
