{% extends 'base.html' %}
{% load unicorn %}
{% block contenido %}
  <div class="row g-3">
    <div class="col-lg-4 col-12">
      <div class="card">
        <div class="card-body text-center">
          <img src="https://robohash.org/empleado/{{ empleado.id }}" alt="hash" class="img-thumbnail rounded-circle" style="width: 200px;" />
          <h5 class="fs-1 fw-bold">{{ empleado.get_full_name|default:empleado.username }}</h5>
          <p class="text-muted">@{{ empleado.username }}</p>
          <table class="table">
            <thead>
              <tr>
                <th>Puesto</th>
                <th>Sucursal</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% with puesto=empleado.puesto sucursal=empleado.sucursal %}
                  <td>{{ puesto }}</td>
                  <td>{{ sucursal.nombre }}</td>
                {% endwith %}
                <td>
                  {% if activo %}
                    Trabajando en {{ sucursal }}
                  {% else %}
                    Fuera de turno
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-12">
      <div class="card">
        <div class="card-body row g-3">
          <div class="col-lg-4 col-12">
            <div class="card text-bg-primary text-center">
              <div class="card-body">
                <h5 class="">Empleados registrados</h5>
                <p class="display-2">{{ total_empleados }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="card text-bg-warning text-center">
              <div class="card-body">
                <h5 class="">Incidencias Pendientes</h5>
                <p class="display-2">{{ total_incidencias }}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="card text-bg-secondary text-center">
              <div class="card-body">
                <h5 class="">Empleados activos</h5>
                <p class="display-2">{{ empleados|length }}</p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <!-- Lista de los primeros 5 empleados en turno -->
            <h5 class="fs-1 fw-bold">Empleados en turno</h5>
            <table class="table table-hover table-striped align-middle">
              <thead>
                <tr>
                  <th></th>
                  <th>Nombre</th>
                  <th>Puesto</th>
                  <th>Sucursal</th>
                </tr>
              </thead>
              <tbody>
                {% for empleado in empleados|slice:':6' %}
                  <tr>
                    <td>
                      <img src="https://robohash.org/empleado/{{ empleado.id }}" alt="hash" class="img-thumbnail rounded-circle" style="width: 60px;" />
                    </td>
                    <td>
                      <a href="{% url 'perfil' empleado.id %}">{{ empleado.get_full_name }}</a>
                    </td>
                    <td>{{ empleado.puesto }}</td>
                    <td>{{ empleado.sucursal.nombre }}</td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="4" class="text-center">No hay empleados en turno.</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Cumpleaños del mes -->
          <div class="col-12">
            <h5 class="fs-1 fw-bold">Cumpleaños del mes 🎉</h5>
            <ul class="list-group">
              {% for empleado in cumpleanos %}
                <li class="list-group-item">
                  <strong>{{ empleado.get_full_name }}</strong> cumpleaños el día {{ empleado.nacimiento|date:'d' }}
                </li>
              {% empty %}
                <li class="list-group-item">
                  <!-- Alerta de cumpleaños -->
                  <div class="alert alert-info" role="alert">No hay cumpleaños este mes.</div>
                </li>
              {% endfor %}
            </ul>
          </div>
          <!-- Incidencias sin revisar -->
          <h5 class="col-12 fs-1 fw-bold">Incidencias recientes</h5>
          {% for incidencia in incidencias %}
            <div class="col-12">
              <div class="card">
                <div class="card-body align-middle">
                  <div class="d-flex align-items-center gap-3">
                    <img src="https://robohash.org/empleado/{{ incidencia.usuario.id }}" alt="hash" class="img-thumbnail rounded-circle" style="width: 60px;" />
                    <div>
                      <h5 class="card-title">{{ incidencia.usuario.get_full_name }}</h5>
                      <p class="card-text">{{ incidencia.incidencia.nombre }}</p>
                    </div>
                  </div>
                  <hr />
                  <h6 class="card-subtitle mb-2 text-muted">Detalles de la incidencia</h6>

                  {% if incidencia.nota %}
                    <p class="card-text">
                      <strong>Nota:</strong> {{ incidencia.nota }}
                    </p>
                  {% else %}
                    <p class="card-text">No hay notas para esta incidencia.</p>
                  {% endif %}
                  <p class="card-text">
                    <strong>¿Cubrio un puesto?</strong> {{ incidencia.cubre_puesto|yesno:'🟢,🔴' }}
                  </p>

                  {% if incidencia.cubre_puesto %}
                    <p class="card-text">
                      <strong>Puesto que se cubrió:</strong> {{ incidencia.salario.puesto_asociado.nombre }}
                    </p>
                  {% endif %}
                  <small class="text-muted">{{ incidencia.fecha_incidencia|date:'d/m/Y' }} - Creada por {{ incidencia.user_creacion.get_full_name }}</small>
                  <div class="btn btn-group col-12">
                    <a href="{% url 'aceptar_incidencia' incidencia.id %}" class="btn btn-outline-success"><i class="fa-solid fa-thumbs-up"></i> Aceptar incidencia</a>
                    <a href="{% url 'rechazar_incidencia' incidencia.id %}" class="btn btn-outline-danger"><i class="fa-solid fa-thumbs-down"></i> Rechazar incidencia</a>
                  </div>
                </div>
              </div>
            </div>
          {% empty %}
            <div class="col-12">
              <div class="alert alert-info" role="alert">
                Estas al día <i class="fa-solid fa-face-smile-wink"></i>.
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
