{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
  <div class="card">
    <div class="card-body">
      <h1 class="display-4">Incidencia para {{ empleado.get_full_name }}</h1>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Crear incidencia</button>
        <a href="{% url 'perfil' pk=empleado.id %}" class="btn btn-danger"><i class="fa-solid fa-ban"></i> Cancelar</a>
      </form>
    </div>
  </div>
{% endblock %}
